body {
    background: linear-gradient(135deg, #0033A0 20%, #FFFFFF 40%, #D21034 80%);
    background-size: cover;
    min-height: 100vh;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-btn {
    padding: 10px;
}

.nav-btn a p {
    margin: 0;
}

.title {
    font-size: 55px;
    font-weight: bold;
    color: #070e33;
    margin-top: 40px;
    padding: 50px;
}

.container-fluid {
    background-color: #070e33;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.col-1 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 5px;
}

.col-1 .active {
    color: white;
    padding: 5px;
}

.active:hover {
    color: #bdaa05ce;
    text-decoration: underline;
}

.txtprincipal {
    position: relative;
    background-image: url('../img/mep_0.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    max-width: 1200px;
    height: 600px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.txtprincipal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.txtprincipal-overlay {
    position: relative;
    color: white;
    text-align: center;
    padding: 30px;
    width: 100%;
}

.txtprincipal-overlay h1 {
    padding: 100px;
    font-size: 50px;
    font-weight: bold;
}

.txtprincipal-overlay p {
    font-size: 40px;
    margin-top: 10px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.search-container input {
    padding: 12px;
    width: 60%;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px 0 0 20px;
    outline: none;
    font-size: 20px;
}

.search-container button {
    padding: 11px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 20px;
}

.search-container button:hover {
    background-color: #333;
}

.container {
    max-width: 700px;
    margin: auto;
}

.title2 {
    margin-top: 10px;
    margin-bottom: 20px; 
    font-size: 40px;
    font-weight: bold;
    color: #070e33;
    text-align: center;
}

.recursos {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 60px; /* Espacio entre los elementos */
    padding: 20px;
}

.recurso-item {
    text-align: center;
}

.recurso-item img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}

.recurso-item p{
    font-size: 20px;
    margin-top: 10px;
    color: #070e33;
    font-weight: bold;
    text-align: center;
}

.recurso-item a {
    text-decoration: none;
    color: inherit;
}

.card-noticia{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    margin: 15px;
}

.noticia-contenido{
    max-width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    background-color: #0033a0b0;
}

.card-noticia  div img {
    object-fit: cover;
}

.card-noticia p, h3{
    font-size: 18px;
    color: white;
    margin-left: 20px;
}

.btn-noticia{
    display: inline-block;
    background-color: #d2af6d;
    color: #0b1d3b; 
    padding: 10px;
    border-radius: 999px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: fit-content; 
    margin-left: 8px;
    margin-bottom: 10px;
}

#new2{
    margin-top: 20px;
}

.btn-noticia:hover {
    background-color: #dfa83c; 
}

.mep {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    padding: 20px;
    margin-top: 20px;

}

.info-mep {
    background-color: #ffffff80;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.img-mep {
    width: 320px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 0 0 10px;
    flex-shrink: 0;
    display: block;
}

.text-mep {
    flex: 1;
    padding: 20px 30px;
}

.text-mep p {
    font-weight: bold;
    margin: 0;
    color: #333;
}

.text-mep .title-mep {
    margin: 10px;
    font-size: 16px;
    color: #333;
}

.btn-mep {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #070e33;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.btn-mep:hover {
    background-color: #041255; 
}

.resumen-proyecto {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 30px;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    line-height: 1.7;
  }
  
  .resumen-proyecto h2 {
    font-size: 28px;
    color: #070e33;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .resumen-proyecto h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #070e33;

  }
  
  .resumen-proyecto p {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .resumen-proyecto ul {
    padding-left: 20px;
    list-style-type: disc;
  }
  
  .resumen-proyecto code {
    background-color: #eeeeeec0;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
    color: #333;
  }

.footer-logo {
    width: 80%;
    max-width: 400px;
    margin-bottom: 10px;
}

.list-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.icono {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    list-style: none;
}

.footer {
    padding: 10px;
    background-color: #070e33;
    margin-top: 65px;
    color: white;
    text-align: center;
    font-size: 20px;
}

/*MÓVILES (max-width: 480px)*/
@media (max-width: 480px) {
    .navbar-nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .navbar-collapse {
        display: none;
    }

    .navbar-collapse.show {
        display: flex;
    }

    .nav-btn {
        width: 100%;
        text-align: center;
        margin-left: 25px;
    }
    
    .navbar-toggler-icon {
        background: none; 
        border: none; 
        width: 30px; 
        height: 25px;
        position: relative;
    }
    
    .navbar-toggler-icon:before, 
    .navbar-toggler-icon:after, 
    .navbar-toggler-icon span {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 4px; 
        background-color: white; 
        transition: all 0.3s ease;
    }

    .navbar-toggler-icon:before {
        top: 0; 
    }
    
    .navbar-toggler-icon span {
        top: 50%; 
        transform: translateY(-50%); 
    }

    .navbar-toggler-icon:after {
        bottom: 0; 
    }

    .title {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 30px;
        font-size: 45px;
        text-align: center;
    }

    .txtprincipal {
        height: 450px;
        margin-bottom: 100px;
    }

    .txtprincipal-overlay h1 {
        padding: 40px;
        font-size: 25px;
    }

    .txtprincipal-overlay p {
        font-size: 18px;
    }

    .search-container{
        height: 50px;
    }

    .search-container input {
        height: 50px;
        font-size: 16px;
    }

    .search-container button {
        font-size: 16px;
        height: 50px;
    }

    .title2 {
        margin-top: 10px;
        margin-bottom: 20px; 
        font-size: 40px;
        font-weight: bold;
        color: #070e33;
        text-align: center;
    }
    
    .recursos {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        gap: 20px; 
        padding: 20px;
    }
    
    .recurso-item {
        text-align: center;
        width: 100%;       
        max-width: 300px; 
    }
    
    .recurso-item img {
        width: 250px;
        height: auto;
        border-radius: 5px;
    }
    
    .recurso-item p{
        font-size: 20px;
        margin-top: 10px;
        color: #070e33;
        font-weight: bold;
        text-align: center;
    }
    
    .recurso-item a {
        text-decoration: none;
        color: inherit;
    }

    .footer {
        font-size: 16px;
    }
}

/*TABLETS (481px - 1023px)*/
@media (min-width: 481px) and (max-width: 1023px) {
    .container-fluid.navbar {
        padding-top: 30px; 
        padding-bottom: 30px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .navbar-collapse {
        display: none;
    }

    .navbar-collapse.show {
        display: flex;
    }

    .nav-btn {
        width: 100%;
        text-align: center;
        margin: 10px 0;
        font-size: 25px;
        margin-left: 20px;
    }

    .navbar-toggler-icon {
        background: none; 
        border: none; 
        width: 50px; 
        height: 50px;
        position: relative;
    }

    .navbar-toggler-icon:before, 
    .navbar-toggler-icon:after, 
    .navbar-toggler-icon span {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 4px; 
        background-color: white; 
        transition: all 0.3s ease;
    }

    .navbar-toggler-icon:before {
        top: 0; 
    }

    .navbar-toggler-icon span {
        top: 50%; 
        transform: translateY(-50%); 
    }

    .navbar-toggler-icon:after {
        bottom: 0; 
    }

    .title {
        font-size: 65px;
        text-align: center;
        margin-bottom: 50px;
    }

    .txtprincipal {
        height: 650px;
        margin-bottom: 150px;
    }

    .txtprincipal-overlay h1 {
        padding: 60px;
        font-size: 45px;
    }

    .txtprincipal-overlay p {
        font-size: 40px;
    }

    .search-container input {
        width: 50%;
        height: 70px;
        font-size: 30px;
    }

    .search-container button {
        font-size: 30px;
    }

    .title2 {
        font-size: 36px;
        margin-top: 20px;
        text-align: center;
    }

    .recursos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding: 20px;
    }

    .recurso-item {
        width: 45%; /* Dos por fila, con espacio entre ellos */
        max-width: 300px;
        text-align: center;
    }

    .recurso-item img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .recurso-item p {
        font-size: 18px;
        margin-top: 10px;
        color: #070e33;
        font-weight: bold;
    }

    .footer {
        padding: 20px;
    }

    .footer-logo{
        width: 500px;
        height: 80px;
    }

    .icono{
        width: 70px;
        height: 70px;
    }
}

/*PANTALLAS GRANDES (1024px - 1902px)*/
@media (min-width: 1024px) and (max-width: 1902px) {
    .nav-btn{
        margin-right:30px;
    }

    .title {
        font-size: 50px;
        text-align: center;
        margin-bottom: 60px;
    }

    .txtprincipal {
        height: 550px;
        margin-bottom: 100px;
    }

    .txtprincipal-overlay h1 {
        padding: 80px;
        font-size: 45px;
    }

    .txtprincipal-overlay p {
        font-size: 35px;
    }

    .search-container input {
        width: 40%;
        height: 60px;
        font-size: 25px;
    }

    .search-container button {
        font-size: 22px;
    }

    .footer {
        font-size: 22px;
    }
}
/*PANTALLAS MUY GRANDES (más de 1902px)*/
@media (min-width: 1903px) {
    .title {
        font-size: 55px;
        text-align: center;
        margin-bottom: 70px;
    }

    .txtprincipal {
        height: 600px;
        margin-bottom: 200px;
    }

    .txtprincipal-overlay h1 {
        padding: 100px;
        font-size: 50px;
    }

    .txtprincipal-overlay p {
        font-size: 40px;
    }

    .search-container input {
        width: 30%;
        height: 70px;
        font-size: 30px;
    }

    .search-container button {
        font-size: 28px;
    }

    .footer {
        font-size: 24px;
    }
}