.container {
    max-width: 600px;
}

.card {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.123);
}

#btnGuardar {
    background: linear-gradient(90deg, #002B7F 33%, #FFFFFF 33%, #FFFFFF 66%, #CE1126 66%);
    color: rgb(0, 0, 0);
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#btnGuardar:hover {
    background: linear-gradient(90deg, #002080 33%, #F0F0F0 33%, #F0F0F0 66%, #B5001A 66%);
}

/*TABLETS (481px - 1023px)*/
@media (min-width: 481px) and (max-width: 1023px) {
    .tit-princ{
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card{
        height: 500px;
    }

    .form-label{
        font-size: 30px;
    }

    .form-control{
        height: 50px;
    }

    #btnGuardar{
        font-size: 25px;
        width: 150px;
        height: 80px;
    }
}