.input-error {
    border: 2px solid red;
}

.container {
    max-width: 600px;
}

.card {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.123);
    margin-top: 100px;
    margin-bottom: 250px;
    height: 400px;
}

.tit-princ{
    margin-top: 73px;
}


#btnGuardar {
    background: linear-gradient(90deg, #002B7F 33%, #FFFFFF 33%, #FFFFFF 66%, #CE1126 66%);
    color: rgb(0, 0, 0);
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

#btnGuardar:hover {
    background: linear-gradient(90deg, #002080 33%, #F0F0F0 33%, #F0F0F0 66%, #B5001A 66%);
}

/*MÓVILES (max-width: 480px)*/
@media (max-width: 480px) {
    .tit-princ {
        margin-top: 20px;
        padding: 30px;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }

    .card{
        padding: 50px;
        height: auto;
    }

    .form-label{
        font-size: 20px;
    }

    .form-select{
        font-size: 20px;
    }

    option{
        font-size: 15px;
    }

    #btnGuardar {
        margin-bottom: 20px;
    }
}

/*TABLETS (481px - 1023px)*/
@media (min-width: 481px) and (max-width: 1023px) {
    .tit-princ{
        font-size: 60px;
        font-weight: bold;
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .card{
        min-height: 540px;
        height: auto;
    }

    span{
        font-size: 25px;
    }

    .form-label{
        font-size: 30px;
    }

    .form-control{
        height: 50px;
    }

    .form-select{
        font-size: 30px;
    }

    option{
        font-size: 15px;
    }

    #btnGuardar{
        font-size: 25px;
        width: 150px;
        height: 80px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/*PANTALLAS GRANDES (1024px - 1902px)*/
@media (min-width: 1024px) and (max-width: 1902px){
    .tit-princ{
        font-size: 50px;
        font-weight: bold;
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .card{
        min-height: 240px;
        height: auto;
    }

    span{
        font-size: 18px;
    }

    .form-label{
        font-size: 20px;
    }

    .form-select{
        font-size: 20px;
    }

    option{
        font-size: 15px;
    }

    #btnGuardar {
        font-size: 22px;
        margin-top: 15px ;
        margin-bottom: 10px;
    }
}

/*PANTALLAS MUY GRANDES (más de 1902px)*/
@media (min-width: 1903px){
    .tit-princ{
        font-size: 50px;
        font-weight: bold;
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .card{
        min-height: 240px;
        height: auto; 
        margin-bottom: 200px;
    }

    .form-label{
        font-size: 20px;
    }

    .form-select{
        font-size: 20px;
    }

    option{
        font-size: 20px;
    }

    #btnGuardar {
        font-size: 20px;
        margin-top: 10px ;
        margin-bottom: 5px;
    }
}