.input-error {
    border: 2px solid red;
}

.container {
    max-width: 600px;
}

.card {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.123);
    margin-top: 80px;
}

.tit-princ{
    margin-top: 73px;
}


/*MÓVILES (max-width: 480px)*/
@media (max-width: 480px) {

    .tit-princ {
        margin-top: 20px;
        padding: 30px;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }

    #tit-tabla{
        font-size: 30px;
        margin-bottom: 25px;
    }

    .card{
        width: 100%;
    }

    .card table {
        width: 100%;
        border: 0;
    }
    
    .card thead {
        display: none;
    }
    
    .card tbody tr {
        display: block;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.75rem;
        background-color: #ffffff30;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .card tbody td {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 0;
        border-bottom: 1px solid #eee;
        font-size: 0.9rem;
        word-wrap: break-word;
        font-size: 18px;
    }
    
    .card tbody td:last-child {
        border-bottom: none;
    }
    
    .card tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        margin-bottom: 4px;
        color: #444;
        font-size: 18px;
    }
}

/*TABLETS (481px - 1023px)*/
@media (min-width: 481px) and (max-width: 1023px) {
    .tit-princ {
        margin-top: 20px;
        padding: 30px;
        font-size: 70px;
        font-weight: bold;
        text-align: center;
    }

    #tit-tabla{
        font-size: 40px;
        margin-bottom: 25px;
    }
    
    .card table {
        width: 100%;
        border: 0;
    }
    
    .card thead {
        display: none;
    }
    
    .card tbody tr {
        display: block;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.75rem;
        background-color: #ffffff50;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .card tbody td {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 0;
        border-bottom: 1px solid #eee;
        font-size: 0.9rem;
        word-wrap: break-word;
        font-size: 25px;
    }
    
    .card tbody td:last-child {
        border-bottom: none;
    }
    
    .card tbody td::before {
        content: attr(data-label);
        font-weight: bold;
        margin-bottom: 4px;
        color: #444;
        font-size: 25px;
    }
}

/*PANTALLAS GRANDES (1024px - 1902px)*/
@media (min-width: 1024px) and (max-width: 1902px){
    .tit-princ {
        font-size: 50px;
        font-weight: bold;
        margin-top: 60px;
    }

    #tit-tabla{
        margin-bottom: 25px;
    }

    #cont-princ {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 99vw;
    }

    .card {
        width: 100%;
        max-width: 90vw; 
        margin-bottom: 2rem;
        font-size: 20px;
    }

    .card table {
        width: 100%;
        max-width: 100%;
        table-layout: auto;
    }

    td, th {
        padding: 1rem;
        white-space: normal;
        word-break: break-word;
    }

    td:nth-child(2),
    th:nth-child(2) {
        white-space: nowrap;
        word-break: keep-all;
    }
}

/*PANTALLAS MUY GRANDES (más de 1902px)*/
@media (min-width: 1903px){
    .tit-princ {
        font-size: 50px;
        font-weight: bold;
        margin-top: 80px;
    }

    #tit-tabla{
        margin-bottom: 25px;
    }


    #cont-princ {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 90vw;
    }

    .card {
        width: 60%;
        max-width: 85vw;
        margin-bottom: 2rem;
        font-size: 18px;
    }

    .card table {
        width: 100%;
        max-width: 100%;
        table-layout: auto;
    }

    td, th {
        padding: 1rem;
        white-space: normal;
        word-break: break-word;
    }

    td:nth-child(2),
    th:nth-child(2) {
        white-space: nowrap;
        word-break: keep-all;
    }

}